.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  margin: 0 auto;
  max-width: 1400px;
  margin-top: 3rem;
}

#form {
  text-align: center;
  margin-top: 2rem;
}

.card {
  background-color: lightblue;
  width: 25rem;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
}

.header {
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
}

.company {
  font-weight: bold;
}
